<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href="/css/style.css">
</head>

<body>
    <nav>
        <div id="logo">
            <a href="/" id="logo">
                <img src="/images/logo.png" alt="logo">
            </a>
        </div>
        <div id="links">
            <ul id="navLinks">
                <a href="/aulas">
                    <li>Aulas</li>
                </a>
                <a href="/contato">
                    <li>Contato</li>
                </a>
                <a href="/aprenda-agora">
                    <li>Aprenda agora</li>
                </a>
        </div>
        <div id="entrar">
            <a href="/login">
                <ul>login</ul>
            </a>
            <div id="profile">
                <img src="/images/Avatars.png" alt="perfil">
            </div>
        </div>
        </ul>
    </nav>
    <div class="conteudo">
        <div class="corpo">
            <div id="call">
                <h1>HELLO BOY</h1>
                <h2>my name is Sol</h2>
            </div>
            <div id="frase">
                <p>Aprenda inglês de uma maneira dançante num método que arrasta multidões desde 2011.</p>
            </div>
            <div id="buttons">
                <button id='botaoPrimario' type="button">Quero aprender</button>
                <button id='botaoSecundario' type="button">Veja nosso vídeo <img src="/images/play.png" alt="botão play"></button>
            </div>
        </div>
        <div id="dupla">
            <img src="/images/Group9.png" alt="">
        </div>
    </div>
    <div id="faixa">
        <img src="/images/image3.png" alt="">
        <div id="box-beneficios">
            <div id="beneficios">
                <div id="titulo-img">
                    <img src="/images/frame 23.png" alt="">
                    <h3>INOVADOR</h3>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nibh lorem, tempus vitae orci nec, sagittis fringilla metus. Etiam dui diam, interdum in lacinia vitae, lobortis lacinia orci.</p>
            </div>
            <div id="beneficios">
                <div id="titulo-img">
                    <img src="/images/frame 24.png" alt="">
                    <h3>RÁPIDO</h3>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nibh lorem, tempus vitae orci nec, sagittis fringilla metus. Etiam dui diam, interdum in lacinia vitae, lobortis lacinia orci.</p>
            </div>
        </div>
    </div>
</body>

</html>
<%- include('./partials/footer.ejs'); -%>