<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href="/src/public/css/style.css">
</head>

<body>
    <nav>
        <a href="/" id="logo">
            <img src="/images/logo.png" alt="logo">
        </a>
        <ul id="navLinks">
            <a href="/aulas">
                <li>Aulas</li>
            </a>
            <a href="/contato">
                <li>Contato</li>
            </a>
            <a href="/aprenda-agora">
                <li>Aprenda agora</li>
            </a>
            <div id="login">
                <a href="/login">
                    <ul>login</ul>
                </a>
                <img src="/images/Avatars.png" alt="perfil">
            </div>
        </ul>
    </nav>
</body>

</html>
<%- include('./partials/footer.ejs'); -%>