footer {
    background-color: #015165;
    margin-left: -30px;
    padding-top: 30px;
    width: 100vw;
    color: #ffffff;
    padding-bottom: 30px;
}

footer a {
    color: #ffffff;
    display: flex;
}

footer a :hover {
    color: #F5A357;
    transform: scale(1.5);
}

#heart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#social {
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#social ul {
    padding-left: 0px;
    display: flex;
    gap: 15px;
}