<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/20156809e2.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/images/favicon.ico">
    <link rel='stylesheet' href="css/style.css">

</head>

<nav>
    <div id="logo">
        <a href="/" id="logo">
            <img src="/images/logo.png" alt="logo">
        </a>
    </div>
    <div id="links">
        <ul id="navLinks">
            <a href="/aulas">
                <li>Aulas</li>
            </a>
            <a href="/contato">
                <li>Contato</li>
            </a>
            <a href="/professores">
                <li>Professores</li>
            </a>
    </div>
    <div id="entrar">
        <a href="/login">
            <ul>login</ul>
        </a>
        <div id="profile">
            <i class="fa-solid fa-user" style="color: #F5A357;"></i>
        </div>
    </div>
    </ul>
</nav>